<script id="dirListTmpl" type="text/template">
    <% _.each(files, function(file) { %>
    <li id="<%= file.id %>">
        <% if (file.directory) { %>
        <div class="directory">
        <% } else { %>
        <div class="file">
        <% } %>

            <span class="icon"></span>
            <% if (file.liveStreamSupported) { %>
            <a href="/livestream?file=<%=file.url%>" title="<%=file.name%>"><%=file.name%></a>
            <span class="ajax-loader hidden"></span>
            <% } else { %>
            <a href="/?path=<%=file.url%>" title="<%=file.name%>"><%=file.name%></a>
            <% } %>
        </div>
    </li>
    <% }) %>
</script>

<script id="breadcumbTmpl" type="text/template">
    <% _.each(breadCrumbs, function(breadCrumb) { %>
    <span class="breadcrumb-item">
        <span>[</span><a href="/?path=<%=breadCrumb.url%>"><%=breadCrumb.name%></a><span>]</span>
    </span>
    <% }) %>
</script>

<script id="livestreamTmpl" type="text/template">
    <video class="livestream" src="<%=url%>" controls="controls" autoplay="autoplay"></video>
</script>
