<script id="dirListTmpl" type="text/x-jquery-tmpl">
    <li id="${id}">
        {{if directory == true}}
        <div class="directory">
        {{else}}
        <div class="file">
        {{/if}}

            <span class="icon"></span>
            {{if liveStreamSupported == true}}
            <a href="/livestream?file=${url}" title="${name}">${name}</a>
            <span class="ajax-loader hidden"></span>
            {{else}}
            <a href="/?path=${url}" title="${name}">${name}</a>
            {{/if}}
        </div>
    </li>
</script>
<script id="breadcumbTmpl" type="text/x-jquery-tmpl">
    <span class="breadcrumb-item">
        <a href="/?path=${url}"><span class="slash">/</span>${name}</a>
    </span>
</script>
<script id="livestreamTmpl" type="text/x-jquery-tmpl">
    <video class="${cssClass}" src="${url}" controls="controls" autoplay="autoplay"></video>
</script>
