<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
<script src="/static/script/jquery-1.7.js" type="text/javascript"></script>

#*<style>
    ul, p {
        font-size: 32px;
    }
</style>*#
</head>
<body>
<div class="container">
    <ul>
    #foreach ($entry in  $map.entrySet())
        <li><a href="$entry.key">$entry.value</a></li>
    #end
    </ul>
</div>
</body>
</html>
