<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<style>
    ul, p {
        font-size: 32px;
    }
</style>
</head>
<body>
<video src="$sourceUrl" controls autoplay ></video>
</body>
</html>
